*.log
.idea/*
!.idea/codeStyles/codeStyleConfig.xml
!.idea/codeStyles/Project.xml
node_modules
temp
vendor
/src/assets/**/*.d.ts
!/src/assets/**/types.ts
!/src/assets/**/types/*.ts
/webpack/constants.js
/webpack/dts.config.js
